/* researcharun.com website CSS file */

/*********************************************************************************/
/*                                     Global                                    */
/*********************************************************************************/

body {
    font-size: 9pt;
}


/* Banner */

#banner {}

#banner h2 {
    font-size: 2.25em;
}

#banner p {
    font-size: 9.5pt;
}